@tailwind base;
@tailwind components;
@tailwind utilities;


.ProseMirror {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  min-height: 150px;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

button {
  margin-right: 5px;
}
